body {
  height: 100%;
  background-color:black;
}

#Page {
  width:100%;
  margin: auto;
  border-collapse: collapse;
  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
}


ul.megamenu {
  width:100%;
  background-image: url(../images/menu-background.gif);
  background-repeat: repeat-x;
  background-position: 0px 0px;
}

.megamenu li{
  width:20%;
  text-align:center;
}

a:link, a:visited {
  color: #333;
}

a:hover {
  color: #666;
}


h3 {
  margin: 0px;
  font-size: 16px;
  padding: 5px 0px 2px;
  font-family: Georgia;
  font-style: italic;
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
}

.tabular-content {
  border-collapse: collapse;
  border: 1px solid #265374;
  font-size: 12px;
  width: 480px;
}

.tabular-content td {
  padding: 4px 5px;
}
