/*
  jQuery MegaMenu Plugin Examples CSS
  Author: GeekTantra
  Author URI: http://www.geektantra.com
*/


ul.megamenu {
  font-family: Helvetica;
  background-color: black;
  width: 100%;
}

.mm-content-base {
  background-color: #FFF;
}

a:link, a:visited {
  color: #333;
}

a:hover {
  color: #666;
}


h3 {
  margin: 0px;
  font-size: 16px;
  padding: 5px 0px 2px;
  font-family: Georgia;
  font-style: italic;
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
}

.megamenu li{
  width:20%;
}


.tabular-content {
  border: none;
  font-size: 12px;
}


.tabular-content td {
  padding: 2px 5px;
  border: none;
  border-right: 1px solid gray;
}

.tabular-content td:last-child{
  border:none;
}
